p {
    font-family: sans-serif;
}

h1#hero-title {
  margin-bottom: 0;
  z-index: 1000; */
  padding: 0;
}

/* mapstyling */
#mapid {
  height: 680px;
}

/* sign styling */
.sign_popup h1 {
  font-size: 90%;
}

.sign_popup p {
  font-size: 90%;
}

.sign_popup img {
 width: 302px;
  border: 1px solid grey;
}
