body {
    font-family: sans-serif;
    border:0;
    margin:0;
    background:black;
}
/* typography */
h1#hero-title {
  /* font-family: sans-serif; */
  font-weight:bolder ;
  margin-bottom: 0;
  padding: 0;
}

h2#sub-title {
  font-size: 90%;
  margin-bottom: 0;
  padding: 0;
}

p#loading-notice {
  font-size: 50%;
  padding: 0;
  margin:0;
}
/* title box */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/* mapstyling */
#mapid {
  height: 100vh;
}

.leaflet-popup-content-wrapper {
  overflow: auto;
}

/* sign styling */
.sign_popup h1 {
  font-size: 90%;
}

.sign_popup p {
  font-size: 90%;
}

.sign_popup img {
 width: 302px;
 border: 1px solid grey;
}

/* rotation of images */
img.orientation_8  {
  transform: rotate(-90deg) ;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg) ;
  width: 100%;
  height:100%

}

img.orientation_3 {
  transform: rotate(180deg) ;
  -webkit-transform: rotate(180deg) ;
  -ms-transform: rotate(180deg) ;
}

img.orientation_6  {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
